/apps
/tests/node_modules
/tests/package-lock.json
/tests/yarn.lock
tests/.DS_Store
.DS_Store
/tests/cypress/integration/exemplos
tests/cypress/integration/exemplos/FIX.signup.spec.js
tests/cypress/integration/exemplos/POM.signup.spec.js
.gitignore
tests/cypress/screenshots
tests/cypress/videos
